<h1> <%= @university.present? ? @university.name : 'Select a University'%> </h1>


<div class="dropdown">
  <a data-toggle="dropdown" href="#">Please Choose a University</a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <% @universities.each do |u| %>
      <li><%= link_to u.name, products_path(university_id: u.id) %></li>
    <% end %>
  </ul>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= link_to 'View Product', product, :class=>"btn btn-primary btn-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

