
<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-12">
	<p>
	  <strong>Title:</strong>
	  <%= @product.title %>
	</p>

	<p>
	  <strong>Price:</strong>
	  <%= @product.price %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @product.description %>
	</p>

	<p>
	  <strong>Telephone:</strong>
	  <%= @product.telephone %>
	</p>

	<p>
	  <strong>Telephone:</strong>
	  <%= @product.telephone %>
	</p>

	<p>
	  <strong>University:</strong>
	  <%= @product.university.name if @product.university %>
	</p>

	<p>
	  <strong>Address:</strong>
	  <%= @product.full_street_address %>
	</p>
	
    <%= link_to 'Edit', edit_product_path(@product), :class=>"btn btn-success btn-small" %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-small"%>
	</div>
</div>
