<!DOCTYPE html>
<html>
<head>
  <title>Glop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="wrap">
		<%= render 'layouts/header' %>
		<div class="container">
			<div class="row">
				

				<div class="notice"><%= notice %></div>
				<div class="alert"><%= alert %></div>

				<%= yield %>
			</div>
		</div>
		<div id="push"></div>
	</div>
	
	<%= render 'layouts/footer' %>
</body>
</html>
